Tema5_esquemasXML/agenda.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="agenda">
    <xs:complexType> <!--pq es compuesto-->
      <xs:sequence>
        <xs:element name="nombre" type="xs:string" />
        <xs:element name="direccion" type="xs:string" />
        <xs:element name="movil" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
