TEMA 5/ejemplosAtributos.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="alumno">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="nombre" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="movil" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name ="nota" type="xs:integer"/> <!--no forma parte de la secuencia pero si de alumno-->
    </xs:complexType>
  </xs:element>
</xs:schema>



